*{box-sizing: border-box;  font-family: sans-serif;}

body{
    margin: 0;
}

.header{
    background-color: rgb(25, 25, 25);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
}

a{
    text-decoration: none;
    margin-right: 60px;
    color: white;
}

.bilder{
    display: flex;
    flex-direction: column;
}