*{box-sizing: border-box;  font-family: sans-serif;}

body{
    margin: 0;
    background-image: url(newbabbage.png);
    background-size: cover;
}

.header{
    background-color: rgb(25, 25, 25);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 3vh;
}

a{
    text-decoration: none;
    margin-right: 60px;
    color: white;
}

.huvudsida{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50px;
}

.bilder{
    width: 270px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 50px;
}

.rad{
    display: flex;
}

.rad p{
    margin-left: 200px;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    padding: 20px;
    color: white;
    min-width: 1000px;
}
